@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*  font-family: 'Poppins', sans-serif;     (títulos)
    font-family: 'Open Sans', sans-serif;  (body)*/

:root {
    --bg-color: hsl(257, 40%, 49%);
    --bg-magenta: hsl(300, 69%, 71%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 1527px;
    max-width: 100%;
}

header {
    padding: 50px 0 0 70px;
}

main {
    margin: auto;
    min-width: 300px;
    max-width: 1527px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    max-width: 100%;
    padding: 70px 0 0 70px;
}

.image-principal {
    width: 850px;
}

.right {
    padding: 20px 20px 20px 80px;
    margin: 20px;
    max-width: 100%;
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
    max-width: 600px;
}

p {
    color: white;
    padding-bottom: 30px;
    max-width: 600px;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 40px;
    border-style: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.39);
}

button:hover {
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    max-width: 600px;
}

nav {
    display: flex;
    width: 5px;
    flex-direction: row;
    gap: 20px;
    max-width: 600px;
}

